body
{
    background-color: #c19ab6;
    text-align: center;
}
#question1
{
    border-radius: 25px;
    padding: 20px;
    background-color: #eed0b6;
    display: inline-block;
}
#question2
{
    border-radius: 25px;
    padding: 20px;
    background-color: #81c9ba;
    display: inline-block;
}
#question3
{
    border-radius: 25px;
    padding: 20px;
    background-color: #104849;
    display: inline-block;
    color: white;
}
#question4
{
    border-radius: 25px;
    padding: 20px;
    background-color: #bd2e10;
    color: white;
    display: inline-block;
}
#question5
{
    border-radius: 25px;
    padding: 20px;
    background-color: black;
    color: white;
    display: inline-block;
}
h2
{
    color: red;
    background-color: white;
}